{%  extends "base.html" %}

{% load static %}

{% block link %}
    <link href="{% static "css/continued.css" %}" rel="stylesheet"></link>
{% endblock %}
{% block body %}
    <br>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                {% for post in posts %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="row first-info">
                                    <div class="col-md-4 back text-center ">
                                        <div class="down-i">
                                            <i class="fas fa-newspaper fa-2x white"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="content-text">
                                            <button class="btn btn-sm btn-outline-info "><i class="fas fa-tags"></i>  <a href="" class="headline">{{ post.category.name }}</a></button><br>
                                            <p class="first_title">{{ post.title }}</p>
                                            {% if post.pk %}
                                                <p>{{ post.date_created }}  {{ post.author }}</p><a class="float-right" href="{% url 'post_list'  post.pk %}">Go <i class="far fa-arrow-alt-circle-right"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-1 text-center">
                            <div class="fav-icon text-center">
                                    <i class="fas fa-eye fa-2x " style="color: #5A5A5A"></i>
                            </div>
                            <p>Views</p>
                        </div>
                        <div class="col-md-1 text-center">
                            <div class="fav-icon text-center">
                                    <i class="fas fa-comment fa-2x" style="color: #5A5A5A"></i>
                            </div>
                            <p>Comments</p>
                        </div>
                        <div class="col-md-1 text-center">
                            <div class="fav-icon text-center">
                                <i class="fas fa-thumbs-up fa-2x" style="color: #5A5A5A"></i>
                            </div>
                            <p>Likes</p>

                        </div>


                    </div>

                {% endfor %}

                <div class="thirdrow text-center ">
                      <button class="btn  btn-dark float-right">
                          <a href="{% url 'page' next %}">Next   <i class="fas fa-arrow-circle-right"></i> </a>
                      </button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}